doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title='Login'
		link(rel='stylesheet' href='../view/output.css')
		script(defer type='module' src='../dist/bundle.js')
	body
		p Login with your email or phone number, and password
		Form#register(class='bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' method='post')
		- var buttonStyle = ['bg-sky-500', 'hover_bg-sky-700', 'px-8']
			fieldset
				.container
					label(for='first') First Name:
					input#first(type='text')
				.container
					label(for='last') Last Name:
					input#last(type='text')
				.container
					label(for='email') Email:
					input#email(type='email')
				.container
					label(for='phone') Phone number:
					input#phone(type='tel')
				.container
					label(for='country') Country of residence:
					input#country(type='text')
				.container
					label(for='dob') Date of birth:
					input#dob(type='date')
				.container
					label(for='password') Password:
					input#password(type='password')
				.container
					label(for='password') Re-enter password:
					input#password(type='password')
				.container
					button(class=buttonStyle type='submit') login
